
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.main-header{
    background-image: url(../images/Hero-bg.png);
    padding:50px 0px;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.first-LOGO{
    font-weight:bold;
    font-size:34;
    color:#4E47FF;
    margin-left:100px;
}

.btn-primary{
    font-weight:bold;
    font-size:16px;
    background-color:#4E47FF;
    color:#FFFFFF;
    padding:12px 36px;
    border:none;
    border-radius:5px;
}
.btn-primary{
    margin-right: 100px;
}
.banner{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    padding: 200px 0px;
    gap:20px;
}
.action{
    display:flex;
    gap:30px;
    padding: 100px 0px;
    align-items:center;
    justify-content: space-between;
}

.acton-title{
    font-weight:bold;
    font-size:42px;
    color:#252432;
}
.action-subtitle{
    font-weight:400;
    font-size:24px;
    color:#252432;
    padding:15px 0;
}

.mini-img{
    border-radius: 50px;
}
.action-btn{
    font-weight:bold;
    font-size:16px;
    color:#FFFFFF;
    background-color:#4E47FF;
    padding:12px 36px;
    border-radius:10px;
    border:none;
}
.productive-user{
    text-align: center;
    background-color: rgba(140, 139, 172, 0.1);
    width: 1140px;
    margin:0 auto;
    padding:60px 30px;


}
.productive-user h1{
    font-size: 38px;
    font-weight: bold;
    color:#252432;
}
.prductive-details{
    display:flex;
    justify-content: space-around;
}

.productive-name h1{
    font-size:80px;
    font-weight:bold;
    color:rgba(78, 71, 255, 1)

}
.productive-name p{
    font-size:20px;
    font-weight:400;
    color:000000;
}
.container{
    width:80%;
    margin:0 auto;
}
.review-container{
    display: flex;
    justify-content: space-evenly;
    gap:20px;
}
.img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.user-details{
    display: flex;
    align-items: center;
    gap: 10px;

}
.user-review-title{
    text-align: center;
    padding:15px 0px;
    padding-bottom: 50px;
}
.user-review{
    padding: 100px 0px;
}
.review h4,p{
    padding: 15px 0px;
}
.details p{
    padding: 0px;
}
.fa-star{
    color:yellow;
}
.contact-content{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
input{
    padding: 10px 20px;
    width: 300px;
}
.last-button{
    font-size: 16px;
    font-weight: bold;
    color:#FFFFFF;
    background-color:rgba(78, 71, 255, 1);
    padding:10px 60px ;
    border: none;
    border-radius: 5px;
    width: 100%;
}
.main-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 150px 0px;

}
.footer-logo{
    margin-left: 115px;
    font-size: 100px;
    font-weight: bold;
    color: rgba(78, 71, 255, 1);
}
ul{
    display: flex;
    gap: 20px;
    
}
 a{
    
    text-decoration: none;
}
li{
    list-style: none;
}
.text-area{
    width: 100%;
}
.review{
    background-color: gray;
    padding: 40px 15px;
    border-radius: 10px;
}
.contact-des h1{
    font-size: 68px;
}
input{
    margin-bottom: 20px;
}
button{
    transition: .2s all;
    cursor: pointer;
}
button:hover{
    background-color: orangered;
}

